<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>스파르타코딩클럽 | 나홀로 메모장</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        .post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }

        .display-4 {
            text-align: center;
            width: 500px;
            margin: 20px auto;
        }

        .lead {
            text-align: center;
            width: 500px;
            margin: 20px auto;
        }

        .post {
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#cards-box").html("");
            showArticles();
        });


        function postArticle() {
            let category = $('#category').val();
            let image_url = $('#image-url').val();
            let name = $('#name').val();
            let company = $('#company').val();
            let comment = $('#comment').val();
            let ref_url = $('#ref-url').val()

            if (category == '') {
                alert('카테고리를 선택해주세요')
                $('#category').focus()
                return
            } else if (name == '') {
                alert('상품명을 입력해주세요')
                $('#name').focus()
                return
            } else if (comment == '') {
                alert('리뷰를 입력해주세요')
                $('#comment').focus()
                return
            }
            $.ajax({
                type: "POST",
                url: "/diet",
                data: {
                    category_give: category,
                    image_url_give: image_url,
                    name_give: name,
                    company_give: company,
                    comment_give: comment,
                    ref_url_give: ref_url
                },
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }

        function showArticles() {
            $.ajax({
                type: "GET",
                url: "/list",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let reviews = response["reviews"];
                        for (let i = 0; i < reviews.length; i++) {


                            makeCard(reviews[i]["category"], reviews[i]["image"], reviews[i]["name"], reviews[i]["company"], reviews[i]["comment"], reviews[i]["ref"]);
                        }
                    } else {
                        alert('리뷰를 받아오지 못했습니다.ㅠㅠ')
                    }
                }
            })
        }

        function makeCard(category, image_url, name, company, comment, ref_url) {


            if (image_url == '') {

                image_url = 'https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'
            }

            let tempHtml = `<div class="card">
<div class="card-header">
    <p class="card-text">${category}</p>
  </div>
<img class="card-img-top" src="${image_url}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">${name}</h5>
                          <p class="card-text">${company}</p>
                        <p class="card-text comment">${comment}</p>
                        <a href="${ref_url}" class="btn btn-primary"> 사이트 방문 </a>
                        </div>
`
            $("#cards-box").append(tempHtml);
        }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">진심어린 리뷰들의 모임 </h1>
        <p class="lead">님아 제발 그 다이어트약을 사지 마오 </p>
        <hr class="my-4">
        <p class="lead">

        </p>
    </div>
    <div class="form-post post-box">
        <div>
            <div class="form-group">
                <label for="category">카테고리 </label>
                <select class="custom-select" id="category">
                    <option selected="" value=""> -- 카테고리를 선택하세요 --</option>
                    <option value="다이어트 보조제(약)">다이어트 보조제(약)</option>
                    <option value="다이어트 시술">다이어트 시술</option>
                    <option value="기타">기타</option>
                </select>
            </div>
            <div class="form-group">
                <label for="image-url">이미지 링크(선택) </label>
                <input id="image-url" class="form-control" placeholder="이미지 주소 복사 후 붙여주세요.">
            </div>
            <div class="form-group">
                <label for="ref-url">사이트 url (선택) </label>
                <input id="ref-url" class="form-control" placeholder="">
            </div>


            <div class="form-group">
                <label for="name">상품 이름 </label>
                <input id="name" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="company">제조사(병원) 이름 (선택) </label>
                <input id="company" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="comment">솔직 리뷰 </label>
                <textarea id="comment" class="form-control" rows="2"></textarea>
            </div>
            <div class="post">
                <button type="button" class="btn btn-primary" onclick="postArticle()">찐 리뷰 공유하기</button>
            </div>
        </div>
    </div>
    <div id="cards-box" class="card-columns">
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>