<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="분노의 다이어트약 찐리뷰"/>
    <meta property="og:description" content="더 이상 허위 다이어트 광고에 속지 마세요. "/>
    <meta property="og:image" content="{{ url_for('static', filename='cover.png') }}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">


    <title>분노의 찐리뷰</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Nanum Myeongjo', serif;
        }

        body {
            background-image: url('https://health.chosun.com/site/data/img_dir/2020/09/28/2020092802246_0.jpg ');
            background-size: 500px;
            min-height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .form-post {
            background-color: rgba(47, 138, 241, 0.3);
            padding: 10px 30px;
        }


        .comment {
            color: blue;
            font-weight: bold;
        }

        .post-box {
            /*width: 350px;*/
            max-width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }

        .title-center {
            text-align: center;
            /*width: 380px;*/
            margin: 20px auto;
        }

        .lead {
            text-align: center;
            /*width: 330px;*/
            margin: 20px auto;
        }

        .post {
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#cards-box").html("");
            showArticles();
        });


        function postArticle() {
            let category = $('#category').val();
            let image_url = $('#image-url').val();
            let name = $('#name').val();
            let company = $('#company').val();
            let comment = $('#comment').val();
            let ref_url = $('#ref-url').val();
            let agree = 0;
            let disagree = 0;

            if (category == '') {
                alert('카테고리를 선택해주세요')
                $('#category').focus()
                return
            } else if (name == '') {
                alert('상품명을 입력해주세요')
                $('#name').focus()
                return
            } else if (comment == '') {
                alert('리뷰를 입력해주세요')
                $('#comment').focus()
                return
            }
            $.ajax({
                type: "POST",
                url: "/diet",
                data: {
                    category_give: category,
                    image_url_give: image_url,
                    name_give: name,
                    company_give: company,
                    comment_give: comment,
                    ref_url_give: ref_url,
                    agree_give: agree,
                    disagree_give: disagree
                },
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }

        function showArticles() {
            $.ajax({
                type: "GET",
                url: "/list",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let reviews = response["reviews"];
                        for (let i = 0; i < reviews.length; i++) {


                            makeCard(reviews[i]["category"], reviews[i]["image"], reviews[i]["name"], reviews[i]["company"], reviews[i]["comment"], reviews[i]["ref"], reviews[i]["agree"], reviews[i]["disagree"]);
                        }
                    } else {
                        alert('리뷰를 받아오지 못했습니다.ㅠㅠ')
                    }
                }
            })
        }

        function agree(name) {
            // 1. 서버에 1) POST 방식으로, 2) /api/like 라는 url에, 3) name_give라는 이름으로 name을 전달합니다.
            // 참고) POST 방식이므로 data: {'name_give': name} 과 같은 양식이 되어야합니다!
            // 2. '좋아요 완료!' 얼럿을 띄웁니다.
            // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
            $.ajax({
                type: 'POST',
                url: '/agree',
                data: {'name_give': name},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('공감 완료!')
                        window.location.reload()
                    }
                }
            });
        }

        function disagree(name) {
            // 1. 서버에 1) POST 방식으로, 2) /api/like 라는 url에, 3) name_give라는 이름으로 name을 전달합니다.
            // 참고) POST 방식이므로 data: {'name_give': name} 과 같은 양식이 되어야합니다!
            // 2. '좋아요 완료!' 얼럿을 띄웁니다.
            // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
            $.ajax({
                type: 'POST',
                url: '/disagree',
                data: {'name_give': name},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('반대 완료!')
                        window.location.reload()
                    }
                }
            });
        }

        function makeCard(category, image_url, name, company, comment, ref_url, agree, disagree) {


            if (image_url == '') {

                image_url = 'https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'
            }

            let tempHtml = `<div class="card">
<div class="card-header">
    <p class="card-text">${category}</p>
  </div>
<img class="card-img-top" src="${image_url}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">${name}</h5>
                          <p class="card-text">${company}</p>
                        <p class="card-text comment">${comment}</p>
                        <a href="${ref_url}" class="btn btn-primary"> 사이트 방문 </a>
                        <footer class="card-footer">
    <a href="#" onclick="agree('${name}')" class="card-footer-item has-text-info">
      공감 <div id="agree-cnt">${agree} </div>
      <span class="icon">
        <i class="fas fa-thumbs-up"></i>
      </span>
    </a>
    <a href="#" onclick="disagree('${name}')" class="card-footer-item has-text-danger">
      반대 <div id="disagree-cnt">${disagree} </div>
      <span class="icon">
        <i class="fas fa-thumbs-down"></i>
      </span>
    </a>
  </footer>
                        </div>`
            $("#cards-box").append(tempHtml);
        }


    </script>

</head>

<body>
<!--<div class="wrap">-->
<div class="center">
    <div class="jumbotron">
        <!--        <h3 class="display-4">진심어린 리뷰들의 모임 </h3>-->
        <h2 class="title-center">진심어린 리뷰들의 모임 </h2>
        <p class="lead">님아 제발 그 다이어트약을 사지 마오 </p>
        <hr class="my-4">
        <p class="lead">

        </p>
    </div>
    <div class="form-post post-box">
        <div>
            <div class="form-group">
                <label for="category">카테고리 </label>
                <select class="custom-select" id="category">
                    <option selected="" value=""> -- 카테고리를 선택하세요 --</option>
                    <option value="다이어트 보조제(약)">다이어트 보조제(약)</option>
                    <option value="다이어트 시술">다이어트 시술</option>
                    <option value="기타">기타</option>
                </select>
            </div>
            <div class="form-group">
                <label for="image-url">이미지 링크(선택) </label>
                <input id="image-url" class="form-control" placeholder="이미지 주소 복사 후 붙여주세요.">
            </div>
            <div class="form-group">
                <label for="ref-url">사이트 url (선택) </label>
                <input id="ref-url" class="form-control" placeholder="">
            </div>


            <div class="form-group">
                <label for="name">상품 이름 </label>
                <input id="name" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="company">제조사(병원) 이름 (선택) </label>
                <input id="company" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="comment">솔직 리뷰 </label>
                <textarea id="comment" class="form-control" rows="2"></textarea>
            </div>
            <div class="post">
                <button type="button" class="btn btn-primary" onclick="postArticle()">찐 리뷰 공유하기</button>
            </div>
        </div>
    </div>
    <div id="cards-box" class="card-columns">
    </div>
</div>
</body>

</html>